body {
	font: normal 62.5% OpenSans,Cambria, Georgia, serif;
	margin: 0px;
	background-color: #fff;
	line-height: 2em;
	margin: 0;
	width: 100%;
}

main {
	width: 100%;
}

img {
	display: block;
}

svg {
	height: auto;
	width: 100%;
}

/* Navigation Panel CSS */
.header {
	width: 100%;
	margin: auto;
	height: 75px;
	display: flex;
	position: static;
}

.header-container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

h1.logo {
	margin: 0;
}

.logo a {
	text-decoration: none;
	color: black;
	display: flex;
}

.logo img {
	height: 61px;
	margin-top: 7px;
}

.logo span {
	margin-top: 27px;
	margin-left: 5px;
	font-weight: 300;
	font-size: 1.2em;
}

.header-nav {
	display: flex;
	text-align: center;
}

.header-nav button {
	max-height: 50px;
	font-size: 1.4em;
	letter-spacing: 0.15em;
	display: inline-block;
	border: none;
	text-transform: uppercase;
	padding: 1.4em 2.6em;
	margin: auto;
}

.header-nav .login {
	background-color: #fff;
}

.header-nav .sign-up {
	background-color: black;
	color: white;
}

.header-nav .sign-up:hover {
	opacity: .8;
}

.header-nav .logout {
	background-color: #fff;
}

/* End of Navigation Panel CSS */

/* Sign In Modal CSS */
.modal-mask {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	position: fixed;
	background-color: rgba(27,36,50,.5);
}

.modal-mask a{
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}

.modal-container {
	width: 500px;
	border-radius: 3px;
	position: relative;
	margin: 2.5% auto;
	background-color: #fff;
	text-align: center;
}

.modal-header {
	padding-top: 40px;
	padding-bottom: 40px;
}

.modal-header .close {
	background: url("assets/x-button.svg") no-repeat center;
	background-size: 35px 35px;
	width: 35px;
	height: 35px;
}

.modal-header h3 {
	font-size: 2.4em;
	font-weight: 500;
	margin: 0;
}

.modal-content {
	padding: 20px 30px;
	box-sizing: border-box;
	border-top: solid 1px lightgrey;
}

.modal-content label {
	font-size: 1.8em;
	margin-bottom: 5px;
}

.modal-content input {
	padding: .5em;
	margin-bottom: 10px;
}

.modal-content input[type="submit"] {
	font-size: 1.6em;
	color: #fff;
	border: none;
	height: 35px;
	margin-top: 5px; 
	background-color: #33b5d6;
}

.modal-container .error-message {
	font-size: 1.6em;
	margin: 0px;
	font-weight: 600;
	color: orange;
	padding-top: 10px;
	position: absolute;
	width: 100%;
}

/* End of Modal CSS */

.clickable:hover {
	cursor: pointer;
}

.invalid {
	border: solid .75px red;
}

.container {
	padding-top: 15px;
}

.board-header {
	margin-left: 10%;
}

.board-header p {
	margin: 0;
}

.forum-board {
	background-color: #ebebeb;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
	margin-top: 0;
	border: solid 1px grey;
	padding: 0;
	max-width: 900px;
}

.forum-board li {
	padding: 20px;
}

.forum-board li:hover {
	padding: 20px;
	cursor: pointer;
}

.forum-board h3 {
	font-size: 2.2em;
	color: white;
	font-weight: 400;
	background: black;
	padding: 15px;
	margin: 0;
}

.forum-board h4 {
	font-size: 1.85em;
	color: #33b5d6;
	margin-top: 5px;
	margin-bottom: 5px;
}

.forum-board p {
	font-size: 1.1em;
}

.forum-board li:nth-child(odd) {
	background-color: white;
}

.container {
	width: 100%;
	background: #baddf9;
}

/* Generic Forum Board CSS */
.board-controls {
	display: block;
	background-color: black;
}

.board-controls button {
	float: right;
}

.board-controls button:hover {
	cursor: pointer;
}

.board-controls h3 {
	display: inline-block;
}

/* End of Generic Forum Board CSS */

/* New Topic Form Styles */

.new-topic-form {
	position: absolute;
	display: block;
	width: 100%;
	background-color: #89abc6;
	text-align: center;
	padding-bottom: 10px;
	max-width: 650px;
}

.new-topic-form h3 {
	font-size: 2.4em;
}

.new-topic-form textarea {
	width: 80%;
	resize: none;
	min-height: 200px; 
}

.new-topic-form button {
	margin-top: 15px;
}

.thread-link {
	text-decoration: none;
	color: black;
}

/* End of Topic Form Styles */
@font-face{
	font-family: 'OpenSans';
	src: url('/assets/fonts/OpenSans-Regular-webfont.woff') format('woff');
}