<!doctype html>
<html lang="en">
	<head>
		<title>Hip-hop Forum | MusicTalk</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="index.css">
	</head>
	<body ng-controller="FrameController as frameCtrl" ng-app="MusicForum">
		<header class="header">
			<div class="header-container">
				<h1 class="logo">
					<a href="/#!/" class="logo-container title">
						<img src="/assets/logo.svg" alt="Logo">
						<span>Jukebox Talk</span>
					</a>
				</h1>
				<nav class="header-nav">
					<button class="logout clickable" ng-show="logoutAvailable()" ng-click="logout()">Log Out</button>
					<button class="login clickable" ng-show="frameCtrl.showRegistration()" ng-click="toggleSignIn()">Sign In</button>
					<button class="sign-up clickable" ng-show="frameCtrl.showRegistration()" ng-click="toggleSignUp()">Join</button>
				</nav>
			</div>
			<signup-modal ng-show="signUpModal"></signup-modal>
			<signin-modal ng-show="signInModal"></signup-modal>
		</header>
		<main ng-view></main>
		<footer class="footer">
			<div class="footer-icons">
				<div class="footer-icon">
					<a target="_blank" href="https://github.com/ACalix/music-forum"> <img src="/assets/Octocat.png" alt="Github Icon"> </a>
				</div>
			</div>
		 </footer>

		<!-- Angular Dependencies -->
		<script src="/javascript/lib/angular.min.js"></script>
		<script src="/javascript/lib/angular-route.min.js"></script>
		<script src="/javascript/lib/angular-animate.min.js"></script>
		<script src="/javascript/lib/angular-cookies.min.js"></script>

		<!-- App Specific Modules -->
		<script src="/javascript/app.js"></script>

		<!-- Modals -->
		<script src="/javascript/directives/signupmodal.js"></script>
		<script src="/javascript/directives/signinmodal.js"></script>

		<!-- Views -->
		<script src="/javascript/directives/messageboard.js"></script>
		<script src="javascript/directives/threadchat.js"></script>
		<script src="/javascript/directives/breadcrumb.js"></script>
		<script src="/javascript/controllers/frame-controller.js"></script>
		<script src="/javascript/controllers/home-controller.js"></script>
	</body>
</html>
